
.tablink {
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
	border:1px solid #b09e7c;
}



/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    color: #b09e7c;
    display: none;
    padding: 100px 20px;
    height: 100%;
}




.tabcontent p {
	font-size: 14px;
	line-height: 30px;
	text-align: left;
	margin: 0;
	color: #777;
	padding-left: 15px;
	font-family: 'roboto-light-webfont';
	width:100%;
}
.acc {
	font-size: 14px;
	line-height: 30px;
	text-align:left;
	margin: 0;
	color: red;
	padding-left: 15px;
	font-family: 'roboto-light-webfont';
	text-decoration: underline;
}
